
StudentRegistryAPI/

# Ignorar diretórios de cache e arquivos compilados
__pycache__/
*.py[cod]
*.pyo
.ruff_cache/

# Ignorar ambientes virtuais
venv/
Lib/
Scripts/

# Ignorar arquivos de configuração específicos da máquina
.env

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários do sistema
*.swp
*.swo
*.bak

# VSCode settings
.vscode/
